.buttons-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.p-button.start-button {
  width: 30vw;
  border: none;
  border-radius: 12px;
  background-color: rgb(58, 57, 57);
  color: white;
  text-align: center;
}
